#thought-card{
    text-align: center;
    font-size: larger;
    background-color: black;
    color:  red;
    margin: 25%;
    text-transform: capitalize;
    height: 250px;
    margin-top: 10% ;
}
button{
  color: rgb(19, 19, 19);
  background-color: rgb(255, 0, 0);
  margin: 10%;
  margin-bottom: 0%;
  margin-top: 0%;
  height: 24px;
  padding: 24px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background-image: url(https://cdn.playbackonline.ca/wp/wp-content/uploads/2020/05/Screen-Shot-2020-05-04-at-1.41.10-PM.png);
  /* background-repeat: no-repeat  ; */
}